<div class="panel panel-success">
	<div class="panel-heading">
		Content
	</div>
	<div class="panel-body">
		<div>{{name}}</div>
	</div>
</div>

<div class="row">
</div>

<div class="row">
	<div class="col-xs-6">
		<div>{{base.name}}</div>
	</div>
	<div class="col-xs-6">
		<div>{{base.price}}</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12" *ngFor="let topping of toppings">
		<div class="col-xs-6">
			{{topping.name}}
		</div>
		<div class="col-xs-6">
			{{topping.price}}
		</div>
	</div>
</div>
