<p>
	create-pizza works!
</p>
<button type="button" class="btn btn-primary" (click)="menuService.click()">
	Bop! <span class="badge">{{menuService.values.length}}</span>
</button>

<div class="container">
	<form>
		<div class="row">
			<label>Pizza Base Type</label>
		</div>
		<div class="row">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-primary **active**">
				<input type="radio" name="inputWalls" id="inputWalls" value="Thin" checked/>Thin 
		</label>
				<label class="btn btn-primary">
			<input type="radio" name="inputWalls" id="inputWalls" value="Thick"/>Thick 
		</label>
				<label class="btn btn-primary">
			<input type="radio" name="inputWalls" id="inputWalls" value="CheeseFilled"/>Cheese-Filled
		</label>
			</div>
		</div>

		<div class="row">
			<label>Pizza Base Size</label>
		</div>
		<div class="row">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-primary **active**">
				<input type="radio" name="inputWalls" id="inputWalls" value="8" checked/>8"
		</label>
				<label class="btn btn-primary">
			<input type="radio" name="inputWalls" id="inputWalls" value="10"/>10"
		</label>
				<label class="btn btn-primary">
			<input type="radio" name="inputWalls" id="inputWalls" value="12"/>12"
		</label>
			</div>
		</div>
	</form>

</div>